<div class="d-none d-lg-block" style="width: 350px">
  <div class="sidebar position-fixed d-none d-lg-block">
    <div class="m-4">
      <p class="iti">ITI Freelancing Hub</p>
      <p style="color: #2e2e2e; font-weight: 500; opacity: 0.7">Dashboard</p>
    </div>

    <ul class="nav flex-column">
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/home"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Home
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/requests" routerLinkActive="active">
          Requests
        </a>
      </li>

      <hr />

      <li class="nav-item">
        <a class="nav-link" routerLink="/tracks" routerLinkActive="active">
          Tracks
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/notifications"
          routerLinkActive="active"
        >
          Notifications
        </a>
      </li>
      <li class="nav-item col-12">
        <a
          class="nav-link nav-item d-flex justify-content-between align-items-center"
          routerLink="/chats"
          routerLinkActive="active"
        >
          Chats @if (unreadChat > 0) {

          <span style="margin-right: 15px" class="badge text-bg-danger">{{
            unreadChat
          }}</span>
          }
        </a>
      </li>

      <hr />

      <li class="nav-item">
        <a
          class="nav-link"
          data-bs-toggle="offcanvas"
          data-bs-target="#settings"
          aria-controls="settings"
        >
          Settings
        </a>
      </li>
      <li (click)="logout()" class="nav-item">
        <a
          class="nav-link text-danger"
          routerLink="/signIn"
          routerLinkActive="active"
        >
          LogOut
        </a>
      </li>
    </ul>
  </div>
</div>

<!-- Collapsible Sidebar -->
<div
  style="width: 350px; max-width: 80%"
  class="offcanvas offcanvas-start"
  tabindex="-1"
  id="offcanvasExample"
>
  <div class="sidebar">
    <div class="m-4">
      <p class="iti">ITI Freelancing Hub</p>
      <p style="color: #2e2e2e; font-weight: 500; opacity: 0.7">Dashboard</p>
    </div>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a
          data-bs-dismiss="offcanvas"
          class="nav-link"
          routerLink="/home"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Home
        </a>
      </li>
      <li class="nav-item">
        <a
          data-bs-dismiss="offcanvas"
          class="nav-link"
          routerLink="/requests"
          routerLinkActive="active"
        >
          Requests
        </a>
      </li>
      <hr />
      <li class="nav-item">
        <a
          data-bs-dismiss="offcanvas"
          class="nav-link"
          routerLink="/tracks"
          routerLinkActive="active"
        >
          Tracks
        </a>
      </li>
      <li class="nav-item">
        <a
          data-bs-dismiss="offcanvas"
          class="nav-link"
          routerLink="/notifications"
          routerLinkActive="active"
        >
          Notifications
        </a>
      </li>
      <li class="nav-item col-12">
        <a
          data-bs-dismiss="offcanvas"
          class="nav-link nav-item d-flex justify-content-between align-items-center"
          routerLink="/chats"
          routerLinkActive="active"
        >
          Chats @if (unreadChat > 0) {

          <span style="margin-right: 15px" class="badge text-bg-danger">{{
            unreadChat
          }}</span>
          }
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          data-bs-toggle="offcanvas"
          data-bs-target="#settings"
          aria-controls="settings"
        >
          Settings
        </a>
      </li>
      <li (click)="logout()" class="nav-item">
        <a
          data-bs-dismiss="offcanvas"
          class="nav-link text-danger"
          routerLink="/signIn"
          routerLinkActive="active"
        >
          LogOut
        </a>
      </li>
    </ul>
  </div>
</div>
