.profile-badge {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  padding: 15px;
  margin-top: 20px;
}

.profile-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sep {
  width: 10px;
  max-width: 10px;
  min-width: 10px;
  height: 20px;
  max-height: 20px;
  min-height: 20px;
}

.user-info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}

.name {
  font-weight: 600;
  color: #333333;
  font-size: 16px;
}

.role {
  color: #999999;
  font-size: 15px;
}

.email {
  color: #666666;
  font-size: 15px;
}

.user-status {
  display: flex;
  align-items: center;
  gap: 15px;
}

.pass {
  font-size: 12px;
  font-weight: 550;
  background-color: rgba(68, 180, 13, 0.15) !important;
  color: #44b40d !important;
}

.NotYet {
  font-size: 12px;
  font-weight: 550;
  background-color: rgba(191, 39, 45, 0.15) !important;
  color: #bf272d !important;
}

.edit-button {
  background: none;
  border: none;
  color: #333;
  font-weight: 500;
  cursor: pointer;
  font-size: 14px;
  padding: 8px 12px;
  border-radius: 6px;
  transition: background-color 0.2s;
}

.edit-button:hover {
  background-color: #f0f0f0;
}

.track-wrapper {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 5px;
}

.track-text {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 22px;
  color: #000000;
}

.allTracks,
.targetachivers {
  height: 40px;
  border-radius: 20px;
  border: none;
  font-size: 15px;
}

.allTracks {
  background-color: #e0e0e0;
  color: #5c6480;
  width: 52px;
}

.targetachivers {
  background-color: #e0e0e0;
  color: #5c6480;
  width: 158px;
}

.spinner-border {
  width: 4rem;
  height: 4rem;
  border-width: 0.35em;
}

.spinner-border.text-primary {
  color: #bf272d !important;
}

.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #bf272d;
  padding: 5px 20px;
  border-radius: 20px;
  color: #787777;
  background-color: rgba(224, 224, 224, 0.6);
  cursor: pointer;
}

.actived {
  color: #bf272d;
  font-weight: 650;
  background-color: rgba(191, 39, 45, 0.3);
}

.backButton {
  cursor: pointer;
}

.subTitle {
  color: #a7a5a5;
  font-size: 15px;
  font-weight: 500;
}

.formButton {
  color: #f6f6f6;
  padding: 8px;
  border-radius: 15px;
  min-height: 55px;
  font-weight: 500;
  background-color: #2e2e2e;
}
