<div class="col-12 p-2">
  <div class="track-wrapper">
    <img
      height="100%"
      (click)="back()"
      class="backButton"
      src="./rec.svg"
      alt=""
    />
    <span class="tagName fs-5 fw-semibold">{{ trackName }}</span>
  </div>

  <div class="d-flex" style="gap: 20px; margin-top: 20px">
    <span
      [ngClass]="{
        ' actived': !filterd
      }"
      (click)="handleFilter(false)"
      class="filter"
      >All</span
    >
    <span
      [ngClass]="{ ' actived': filterd }"
      (click)="handleFilter(true)"
      class="filter"
    >
      Target Achivers
    </span>
  </div>

  @if (isLoading) {
  <div
    style="min-height: 250px"
    class="d-flex justify-content-center align-items-center"
  >
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  }@else if (students.length == 0) {

  <div>
    <p
      style="min-height: 250px"
      class="text-secondary d-flex justify-content-center align-items-center"
    >
      No Students Yet!
    </p>
  </div>
  }@else { @for (student of students; track $index) {
  <div class="profile-badge">
    <div class="profile-content">
      <div class="user-info">
        <span class="name">{{ student.fullName }}</span>
        <img class="d-none d-lg-block sep" src="sep2.svg" alt="" />
        <span class="role d-none d-lg-block">{{ student.trackName }}</span>
        <img class="d-none d-md-block sep" src="sep2.svg" alt="" />
        <span class="email d-none d-md-block"> {{ student.email }} </span>
        <img class="d-none d-md-block sep" src="sep2.svg" alt="" />
        @if (student.target) {
        <span class="filter pass">pass</span>
        }@else {
        <span class="filter NotYet">Not Yet</span>
        }
      </div>
      <div class="user-status">
        <!-- <button  class="edit-button">Edit</button> -->
        <button class="edit-button" [routerLink]="['/editUser', student._id]">
          Edit
        </button>
      </div>
    </div>
  </div>
  }}
  <span
    data-bs-toggle="modal"
    data-bs-target="#deleteTrack"
    class="fw-semibold fs-6 col-12 mt-4 p-2 d-flex justify-content-center align-items-center actived filter"
  >
    Delete Track
  </span>
</div>

<!-- Modal -->
<div
  style="margin-top: 100px"
  class="modal fade"
  id="deleteTrack"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div
        class="modal-body d-flex flex-column justify-content-center align-items-center gap-3"
      >
        <div
          class="col-12 d-flex flex-column justify-content-center align-items-center gap-2"
        >
          <h1 class="fs-3 text-center">Track Deletion</h1>
          <p class="subTitle col-10 text-center">
            Are you sure you want to delete this track?
            <br />
            This action will remove all track data, student information, and any
            related jobs and certificates associated with those students.
          </p>
        </div>

        <div class="col-3">
          <img width="100%" src="./warn.svg" alt="" />
        </div>
      </div>
      <div class="modal-footer">
        <button
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
          class="formButton col-12 btn btn-primary"
          type="button"
          (click)="deleteTrack()"
        >
          Delete Track
        </button>
      </div>
    </div>
  </div>
</div>
