<div class="col-12 p-2">
  <!-- Spinner while loading -->
  <div *ngIf="isLoading" class="text-center my-5">
    <div class="spinner-border text-dark" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

  <!-- Actual content shown only after loading -->

  <!-- top Desktop -->
  <div *ngIf="!isLoading && job">
    <div
      class="d-none mb-2 d-sm-flex align-items-center gap-2 justify-content-start"
    >
      <img class="clickable" (click)="back()" src="Rectangle 7.svg" />
      <p class="fs-5 fw-semibold">{{ job.jobTitle }}</p>
      <img width="3px" height="25px" src="sep2.svg" />

      <p style="color: #d7777b" class="fw-medium fs-6">{{ job.jobType }}</p>

      <p class="status {{ job.verified ? 'accepted' : '' }}">
        {{ job.verified ? "Accepted" : "Pending" }}
      </p>
    </div>

    <!-- top phone -->
    <div class="d-block d-sm-none">
      <div class="d-flex justify-content-between align-items-center">
        <p style="color: #bf272d" (click)="back()" class="fs-5 fw-semibold">
          Back
        </p>

        <p class="status {{ job.verified ? 'accepted' : '' }}">
          {{ job.verified ? "Accepted" : "Pending" }}
        </p>
      </div>
      <br />
      <div
        class="mb-2 d-flex flex-column align-items-start gap-1 justify-content-center"
      >
        <p class="fs-5 fw-semibold">{{ job.jobTitle }}</p>

        <p style="color: #d7777b" class="fw-medium fs-6">{{ job.jobType }}</p>
      </div>
    </div>

    <br />

    <div class="item mb-3" *ngIf="job.studentName">
      <img
        width="90px"
        height="90px"
        style="border-radius: 50%"
        [src]="avatar ? avatar : 'avatar.svg'"
        alt="avatar"
      />
      <div class="text">
        <p class="fw-semibold fs-5">
          {{ getFirstTwoNames(job.studentName) }}
        </p>
        <p
          style="color: #d7777b"
          class="fs-6 fw-medium clickable"
          (click)="openChat()"
        >
          Send Message
        </p>
      </div>
    </div>

    <div class="data">
      <p class="mb-3 fs-6" style="color: #a7a5a5">{{ job.jobDescription }}</p>

      <p
        class="fs-6 fw-medium"
        *ngIf="!job.companytName && job.teamMembers.length > 0"
      >
        <span class="fs-6 fw-semibold text-black">Contributors : </span>
        <span *ngFor="let std of job.teamMembers; let i = index">
          {{ std.studentName
          }}<span *ngIf="i < job.teamMembers.length - 1">, </span>
        </span>
      </p>

      <div class="data" *ngIf="job.platform">
        <p class="fs-6 fw-medium">
          <span class="fs-6 fw-semibold text-black">Client Name : </span
          ><span>{{ job.clientName }}</span>
        </p>
        <p class="fs-6 fw-medium">
          <span class="fs-6 fw-semibold text-black">Client Country : </span
          ><span>{{ job.clientCountry }}</span>
        </p>
        <p class="fs-6 fw-medium">
          <span class="fs-6 fw-semibold text-black">Platform : </span
          ><span>{{ job.platform }}</span>
        </p>
        <p class="fs-6 fw-medium">
          <span class="fs-6 fw-semibold text-black">Student Profile : </span>
          <a href="{{ job.studentProfile }}" class="spanName">{{
            job.platform
          }}</a>
          <img src="ms.svg" class="mx-2" />
        </p>
      </div>

      <div class="data" *ngIf="job.companytName">
        <p class="fs-6 fw-medium">
          <span class="fs-6 fw-semibold text-black">Company Name : </span
          ><span>{{ job.companytName }}</span>
        </p>
        <p class="fs-6 fw-medium">
          <span class="fs-6 fw-semibold text-black">Company Country : </span
          ><span>{{ job.companyCountry }}</span>
        </p>
        <p class="fs-6 fw-medium">
          <span class="fs-6 fw-semibold text-black">Company Contact : </span
          ><span>{{ job.companyContact }}</span>
        </p>
      </div>

      <p class="fs-6 fw-medium" *ngIf="!job.companytName">
        <span class="fs-6 fw-semibold text-black">Client Profile : </span>
        <a href="{{ job.clientProfile }}" class="spanName">{{
          job.platform
        }}</a>
        <img src="ms.svg" class="mx-2" />
      </p>

      <p class="fs-6 fw-medium" *ngIf="job.proofOfWork">
        <span class="fs-6 fw-semibold text-black">Proof of work : </span>
        <a class="spanName" href="{{ job.proofOfWork }}">Drive Link</a>
        <img src="ms.svg" class="mx-2" />
      </p>

      <div class="d-flex flex-column gap-3">
        <div
          class="fs-6 fw-medium flex-column flex-sm-row d-flex align-items-sm-center gap-1 gap-sm-5"
        >
          <span>
            <img src="date.svg" />
            <span class="fs-6 fw-semibold text-black"> Start : </span>
            {{ formatDate(job.startDate) }}
          </span>
          <span *ngIf="job.endDate">
            <img src="date.svg" />
            <span class="fs-6 fw-semibold text-black"> End : </span>
            {{ formatDate(job.endDate) }}
          </span>
        </div>

        <p class="d-flex align-items-center gap-3">
          <span class="d-flex align-items-center gap-1 fs-6 fw-medium">
            <img height="20px" src="usd.svg" />
            {{ job.costInUSD || job.paymentInUSD }}
          </span>

          <span class="d-flex align-items-center gap-1 fs-6 fw-medium">
            <img height="13px" src="EGP.svg" />
            {{ job.costInEGP || job.paymentInEGP }}
          </span>
        </p>
      </div>

      <div class="d-flex gap-1 gap-sm-3 my-3">
        <button
          type="button"
          class="btn btn-dark custom-btn flex-grow-1"
          *ngIf="job?.verified === false"
          (click)="acceptJob()"
        >
          Accept
        </button>
        <button
          type="button"
          (click)="deleteJob(job._id)"
          class="btn btn-outline-danger custom-btn flex-grow-1"
        >
          Delete
        </button>
      </div>

      <p class="fs-5 fw-semibold" *ngIf="job.comments?.length > 0">Comments</p>

      <div *ngIf="job.comments?.length > 0" class="overflow-container">
        <div
          class="comments"
          *ngFor="let comment of job.comments"
          style="margin-bottom: 10px"
        >
          <div
            style="
              display: flex;
              justify-content: space-between;
              align-items: center;
              margin-top: 5px;
            "
          >
            <p class="fw-semibold fs-6">Admin</p>
            <span
              style="cursor: pointer"
              (click)="deleteComment(comment._id)"
              class="text-danger fw-semibold"
              >Delete</span
            >
          </div>
          <div
            style="
              display: flex;
              justify-content: space-between;
              align-items: center;
              margin-top: 5px;
            "
          >
            <p
              class="fs-6 text-secondary"
              style="max-width: 70%; overflow: hidden"
            >
              {{ comment.content }}
            </p>
            <div class="d-flex gap-3">
              <span
                class="d-flex align-items-center gap-1"
                style="color: gray; font-size: 13px"
              >
                {{ comment.rate }}
                <img width="15px" src="heart.svg" alt="" />
              </span>
              <span style="color: gray; font-size: 13px">
                {{ formatDate(comment.date) }}
              </span>
            </div>
          </div>
        </div>
      </div>

      <p *ngIf="job.comments?.length === 0" style="color: gray">
        No comments yet.
      </p>

      <div class="AddComment">
        <div class="d-flex gap-2 justify-content-center align-items-center">
          <input
            type="text"
            class="form-control comment-input"
            placeholder="Enter comment"
            [(ngModel)]="commentText"
          />

          <input
            type="number"
            step="0.5"
            min="0"
            max="5"
            class="form-control rate-input"
            placeholder="Enter rate"
            [(ngModel)]="rate"
          />
        </div>
        <button
          style="
            padding: 10px 20px;
            height: 45px;
            border-radius: 20px;
            font-size: 15px;
            margin: auto;
            max-width: 400px;
          "
          type="button"
          class="btn btn-dark flex-grow-1 w-100"
          (click)="addComment()"
        >
          Add Comment
        </button>
      </div>
    </div>
  </div>
</div>














