<div>
  <p class="mt-4" style="color: #a7a5a5; font-family: Poppins">
    Before sending any notifications to users, ensure that the message is free
    of spelling errors and <br />
    utilizes clear, professional language. Double-check for proper grammar,
    tone, and formatting.<br />
    Remember, notifications represent our platform, so they should be polished
    and easy to<br />
    understand to maintain our credibility and user trust.
  </p>

  <div
    style="width: 100%; max-width: 600px"
    *ngIf="successMessage"
    class="alert alert-success alert-dismissible fade show"
    role="alert"
  >
    {{ successMessage }}
    <button
      type="button"
      class="btn-close"
      (click)="successMessage = ''"
    ></button>
  </div>

  <div
    style="width: 100%; max-width: 600px"
    *ngIf="errorMessage"
    class="alert alert-danger alert-dismissible fade show"
    role="alert"
  >
    {{ errorMessage }}
    <button
      type="button"
      class="btn-close"
      (click)="errorMessage = ''"
    ></button>
  </div>

  <div class="mt-3" style="width: 100%; max-width: 600px">
    <div style="max-width: 100%" class="dropdown">
      <button
        class="btn dropdown-toggle d-flex justify-content-between align-items-center"
        style="
          height: 50px;
          width: 100%;
          max-width: 600px;
          background-color: #bf272d;
          color: white;
        "
        type="button"
        id="developmentDropdown"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <span class="d-none d-sm-block">
          {{selectedTrack}}
          <small class="ms-2"></small
        ></span>
        <span class="d-block d-sm-none"
          >{{
            selectedTrack.split(" ")[0] + " " + selectedTrack.split(" ")[1]
          }}
          <small class="ms-2"></small
        ></span>
      </button>
      <ul
        style="max-height: 300px; overflow: auto"
        class="dropdown-menu w-100"
        aria-labelledby="developmentDropdown"
      >
        @for (item of itiTracks; track $index) {

        <li (click)="selectTrack(item)" class="dropdown-item d-block d-sm-none">
          {{
            item.split(" ")[0] +
              " " +
              item.split(" ")[1] +
              " " +
              item.split(" ")[2]
          }}
        </li>

        <li (click)="selectTrack(item)" class="dropdown-item d-none d-sm-block">
          {{ item }}
        </li>

        }
      </ul>
    </div>
  </div>

  <div style="width: 100%; max-width: 600px" class="gap-1 mt-4">
    <input
      class="form-control write-something"
      type="text"
      placeholder="Notification Title"
      [(ngModel)]="notificationTitle"
    />
  </div>

  <div style="width: 100%; max-width: 600px" class="gap-1 mt-2">
    <input
      class="form-control write-something"
      type="text"
      placeholder="Notification Content"
      [(ngModel)]="notificationContent"
    />
  </div>

  <button
    style="width: 100%; max-width: 600px; height: 50px; border-radius: 15px"
    class="btn btn-dark mt-4"
    (click)="sendBroadcastNotification()"
    [disabled]="isLoading || !notificationContent.trim()"
  >
    {{ isLoading ? "Sending..." : "Submit" }}
  </button>
</div>
