<div class="row">
  <div *ngFor="let card of cards" class="col-md-6 col-xl-3 mb-3">
    <div
      style="display: flex; justify-content: space-between; height: 180px"
      class="position-relative card p-3 shadow-sm bg-white d-flex flex-column justify-content-between"
    >
      <img
        class="position-absolute"
        style="top: 15px; right: 15px"
        [src]="card.iconPath"
        alt="icon"
        width="75"
        height="75"
      />
      <div
        class="d-flex flex-column align-items-start justify-content-between gap-3"
      >
        <h6 class="mb-0 text-secondary text-truncate fs-6">
          {{ card.title }}
        </h6>

        <p style="font-size: 30px" class="fw-medium text-black mb-1">
          {{ getFormattedValue(card) }}

    
        </p>
      </div>
      <p
        style="font-size: 15px"
        class="text-secondary mb-0"
        title="{{ card.description }}"
      >
        {{ card.description }}
      </p>
    </div>
  </div>
</div>
