.generate {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    padding: 15px 20px;
    color: #bf272d;
    font-weight: 650;
    background-color: rgba(191, 39, 45, 0.3);
    transition: all 0.5s;
  }
  
  .generate:hover {
    background-color: rgba(227, 99, 104, 0.6);
  }
  
  .custom-legend {
    list-style: none;
    padding: 0;
    margin-top: 10px;
    display: flex;
    gap: 20px;
  }
  
  .custom-legend .dot {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 8px;
    border-radius: 50%;
  }
  
  .stat {
    background-color: rgba(1, 1, 1, 0.1);
    padding: 20px;
    border-radius: 10px;
  }
  