<!-- Collapsible Change Password -->
<div
  style="width: 350px; max-width: 80%"
  class="offcanvas offcanvas-start test"
  tabindex="-1"
  id="changePassword"
>
  <div class="sidebar m-3 mt-4">
    <p class="fs-4 fw-semibold">Change Password</p>
    <br />

    <br />

    <form
      class="col-12 d-flex flex-column justify-content-center align-items-start gap-3"
      style="max-width: 400px"
      [formGroup]="resetPasswordForm"
      (ngSubmit)="onSubmit()"
    >
      <!-- Password Input -->
      <div class="d-flex flex-column gap-1 col-12">
        <label class="fs-6 fw-medium">Your Password</label>
        <div class="position-relative col-12">
          <img
            style="top: 10px"
            height="34px"
            class="inputIcon"
            src="./key.svg"
            alt=""
          />

          <button
            (click)="passwordToggle()"
            style="right: 10px; top: 10px; background: none; border: none"
            class="position-absolute d-flex justify-content-center align-items-center"
            type="button"
          >
            <img height="34px" src="./eye.svg" />
          </button>

          <input
            placeholder="Your Password"
            class="formInput form-control"
            [ngClass]="{
              'is-invalid':
                resetPasswordForm.get('password')?.invalid &&
                resetPasswordForm.get('password')?.touched
            }"
            id="password"
            formControlName="password"
            [type]="isPass ? 'password' : 'text'"
          />
          <div class="invalid-feedback">
            <div
              *ngIf="resetPasswordForm.get('password')?.errors?.['required']"
            >
              Password is required.
            </div>
            <div
              *ngIf="resetPasswordForm.get('password')?.errors?.['minlength']"
            >
              Minimum length is 6.
            </div>
          </div>
        </div>
      </div>

      <!-- New Password Input -->
      <div class="d-flex flex-column gap-1 col-12">
        <label class="fs-6 fw-medium">Your New Password</label>
        <div class="position-relative col-12">
          <img
            style="top: 10px"
            height="34px"
            class="inputIcon"
            src="./key.svg"
            alt=""
          />

          <button
            (click)="passwordToggle()"
            style="right: 10px; top: 10px; background: none; border: none"
            class="position-absolute d-flex justify-content-center align-items-center"
            type="button"
          >
            <img height="34px" src="./eye.svg" />
          </button>

          <input
            placeholder="New Password"
            class="formInput form-control"
            [ngClass]="{
              'is-invalid':
                resetPasswordForm.get('newPassword')?.invalid &&
                resetPasswordForm.get('newPassword')?.touched
            }"
            id="newPassword"
            formControlName="newPassword"
            [type]="isPass ? 'password' : 'text'"
          />
          <div class="invalid-feedback">
            <div
              *ngIf="resetPasswordForm.errors?.['passwordMismatch'] && 
             resetPasswordForm.get('newPassword')?.touched"
            >
              Passwords do not match.
            </div>
            <div
              *ngIf="resetPasswordForm.get('newPassword')?.errors?.['required']"
            >
              Password is required.
            </div>
            <div
              *ngIf="resetPasswordForm.get('newPassword')?.errors?.['minlength']"
            >
              Minimum length is 6.
            </div>
          </div>
        </div>
      </div>

      <!-- New Password Confirm Input -->
      <div class="d-flex flex-column gap-1 col-12">
        <label class="fs-6 fw-medium">Repeat Your Password</label>
        <div class="position-relative col-12">
          <img
            style="top: 10px"
            height="34px"
            class="inputIcon"
            src="./key.svg"
            alt=""
          />

          <button
            (click)="passwordToggle()"
            style="right: 10px; top: 10px; background: none; border: none"
            class="position-absolute d-flex justify-content-center align-items-center"
            type="button"
          >
            <img height="34px" src="./eye.svg" />
          </button>

          <input
            placeholder="Repeat Password"
            class="formInput form-control"
            [ngClass]="{
              'is-invalid':
                resetPasswordForm.get('newPasswordConfirmation')?.invalid &&
                resetPasswordForm.get('newPasswordConfirmation')?.touched
            }"
            id="newPasswordConfirmation"
            formControlName="newPasswordConfirmation"
            [type]="isPass ? 'password' : 'text'"
          />
          <div class="invalid-feedback">
            <div
              *ngIf="resetPasswordForm.errors?.['passwordMismatch'] && 
             resetPasswordForm.get('newPasswordConfirmation')?.touched"
            >
              Passwords do not match.
            </div>
            <div
              *ngIf="resetPasswordForm.get('newPasswordConfirmation')?.errors?.['required']"
            >
              Password is required.
            </div>
            <div
              *ngIf="resetPasswordForm.get('newPasswordConfirmation')?.errors?.['minlength']"
            >
              Minimum length is 6.
            </div>
          </div>
        </div>
      </div>

      <!-- Submit Button -->
      <button
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
        class="formButton col-12 btn btn-primary"
        type="submit"
        [disabled]="resetPasswordForm.invalid || loading"
      >
        @if (loading) {

        <div class="spinner-border text-danger" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        }@else{ Change Password }
      </button>

      <div
        class="col-12"
        [ngStyle]="{
          color: error === 'Password changed successfully' ? 'green' : '#bf272d',
          'text-align': 'left'
        }"
      >
        {{ error }}
      </div>
    </form>
  </div>
</div>
