.job-container {
  padding: 10px;
  margin-bottom: 15px;
  position: relative;
  background-color: #ffffff;
  overflow: hidden;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

h6 {
  color: #d7777b;
}
.category {
  font-size: 14px;
  color: #888;
  margin-bottom: 10px;
}

.description {
  font-size: 15px;
  color: #a7a5a5;
  margin-bottom: 6px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.6;
}

.details {
  display: flex;
  gap: 10px;
  margin: 10px 0px;
}

.contributor {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: flex;
  align-items: center;
}

.check-icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.contributor {
  font-size: 14px;
  color: #bf272d;
}
.accepted-job {
  border-left: 7px solid #44b40d;
}
.pending-job {
  border-left: 7px solid #888;
}

.check-icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.job-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.view-details {
  text-decoration: none;
  color: #bf272d;
  font-weight: bold;
  padding-left: 10px;
}

.job-status-img {
  position: absolute;
  bottom: -20px;
  right: -20px;
  height: 100%;
}

@media (max-width: 768px) {
  .job-status-img {
    height: 80%;
  }

  .description {
    font-size: 13px;
  }
}
