<div
  class="job-container"
  *ngFor="let job of jobs; let i = index"
  [ngClass]="{
    'pending-job': !job.verified,
    'accepted-job': job.verified
  }"
>
  <div class="job-header">
    <h2>{{ job.jobTitle }}</h2>
    <a [routerLink]="['/job-details', job._id]" class="view-details" [state]="{ returnTo: currentUrl }">View</a>

    <div
      class="view-image"
      [ngStyle]="{
        'background-image': job.verified ? 'url(accept.svg) ' : 'url(pend.svg)'
      }"
    ></div>
  </div>

  <h6>{{ job.jobType }}</h6>
  <p class="description">{{ job.jobDescription }}</p>
  <strong> Contributors : </strong>
  <span *ngFor="let std of job.teamMembers; let i = index">
    {{ std.studentName }}<span *ngIf="i < job.teamMembers.length - 1">, </span>
  </span>
  

  <div class="details">
    <p>
      <img src="date.svg" />
      <strong> Start : </strong> {{ formatDate(job.startDate) }}
      <span *ngIf="job.endDate" >
    <img src="date.svg" />
    <strong > Completion : </strong> {{ formatDate(job.endDate) }}
  </span>
    </p>

    <p>
      <img src="usd.svg" />
      {{ job.costInUSD || job.paymentInUSD }}
      <img src="EGP.svg" />
      {{ job.costInEGP || job.paymentInEGP }}
    </p>
  </div>

  <div class="contributor">
    <div class="member-container">
      <p>
        <img src="users.svg" />

        <strong>{{ getFirstTwoNames(job.studentName) }}</strong>
      </p>
    </div>
  </div>
</div>
