<div class="col-12 p-2">
  @if (!user) {
  <div
    style="min-height: 200px"
    class="col-12 d-flex flex-column gap-2 justify-content-center align-items-center"
  >
    <div class="spinner-border text-danger" role="status"></div>
    <p class="text-secondary">Loading</p>
  </div>

  }@else {

  <!-- top Desktop -->
  <div
    class="d-none d-lg-flex align-items-center gap-2 justify-content-start mb-4"
  >
    <img class="clickable" (click)="back()" src="Rectangle 7.svg" />
    <p class="fs-5 fw-semibold">{{ user.fullName }}</p>
    <img width="3px" height="25px" src="sep2.svg" />

    <p style="color: #d7777b" class="fw-medium fs-6">{{ user.trackName }}</p>
  </div>

  <!-- top phone -->
  <div class="d-block d-lg-none">
    <div class="d-flex justify-content-between align-items-center">
      <p
        style="color: #bf272d"
        (click)="back()"
        class="fs-5 fw-semibold clickable"
      >
        Back
      </p>
    </div>
    <br />
    <div
      class="mb-2 d-flex flex-column align-items-start gap-1 justify-content-center"
    >
      <p class="fs-5 fw-semibold">{{ user.fullName }}</p>

      <p style="color: #d7777b" class="fw-medium fs-6">
        {{ user.trackName }}
      </p>
    </div>
  </div>

  <form
    [formGroup]="userForm"
    (ngSubmit)="onSubmit()"
    class="col-12 mt-2 d-flex flex-column justify-content-between align-items-center"
  >
    <div class="row mb-3 gap-2 col-12">
      <div class="col-md-5 flex-grow-1 mb-3 p-0">
        <label for="fullName" class="form-label fw-semibold">Full Name</label>
        <input type="text" class="form-control" formControlName="fullName" />
      </div>
      <div class="col-md-5 flex-grow-1 mb-3 p-0">
        <label for="grade" class="form-label fw-semibold">G.Grade</label>
        <input type="text" class="form-control" formControlName="grade" />
      </div>

      <div class="col-md-5 flex-grow-1 mb-3 p-0">
        <label for="email" class="form-label fw-semibold">Email</label>
        <input type="email" class="form-control" formControlName="email" />
      </div>

      <div class="col-md-5 flex-grow-1 mb-3 p-0">
        <label for="faculty" class="form-label fw-semibold">Faculty</label>
        <input type="text" class="form-control" formControlName="faculty" />
      </div>

      <div class="col-md-5 flex-grow-1 mb-3 p-0">
        <label for="mobile" class="form-label fw-semibold">Mobile</label>
        <input type="tel" class="form-control" formControlName="phone" />
      </div>

      <div class="col-md-5 flex-grow-1 mb-3 p-0">
        <label for="university" class="form-label fw-semibold"
          >University</label
        >
        <input type="text" class="form-control" formControlName="university" />
      </div>

      <div class="col-md-5 flex-grow-1 mb-3 p-0">
        <label for="personalID" class="form-label fw-semibold"
          >Personal ID</label
        >
        <input type="text" class="form-control" formControlName="personalID" />
      </div>

      <div class="col-md-5 flex-grow-1 mb-3 p-0">
        <label for="track" class="form-label fw-semibold">Track</label>
        <div
          style="min-width: 100%; border-radius: 15px !important"
          class="dropdown"
        >
          <button
            class="flex-grow-1 btn dropdown-toggle d-flex justify-content-between align-items-center"
            style="
              border-radius: 10px;
              height: 50px;
              width: 100%;
              background-color: #bf272d;
              color: white;
            "
            type="button"
            id="developmentDropdown"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <span class="d-none d-sm-block">
              {{ selectedTrack }}
              <small class="ms-2"></small
            ></span>
            <span class="d-block d-sm-none"
              >{{
                selectedTrack.split(" ")[0] + " " + selectedTrack.split(" ")[1]
              }}
              <small class="ms-2"></small
            ></span>
          </button>
          <ul
            style="max-height: 300px; overflow: auto"
            class="dropdown-menu w-100"
            aria-labelledby="developmentDropdown"
          >
            @for (item of itiTracks; track $index) {

            <li
              (click)="selectTrack(item)"
              class="dropdown-item d-block d-sm-none"
            >
              {{
                item.split(" ")[0] +
                  " " +
                  item.split(" ")[1] +
                  " " +
                  item.split(" ")[2]
              }}
            </li>

            <li
              (click)="selectTrack(item)"
              class="dropdown-item d-none d-sm-block"
            >
              {{ item }}
            </li>

            }
          </ul>
        </div>
      </div>
    </div>
    <p class="text-success py-2">
      {{ msg }}
    </p>
    <button
      [disabled]="isLoading"
      style="border: none; height: 55px; border-radius: 15px"
      type="submit"
      class="col-12 col-md-6"
      [ngClass]="isLoading ? 'text-bg-secondary' : 'text-bg-dark'"
    >
      <span *ngIf="isLoading" class="spinner-border spinner-border-sm"></span>
      Update
    </button>
  </form>
  }
</div>
