<div
  class="col-12 d-flex flex-column justify-content-center align-items-center"
>
  <form
    class="col-10 col-sm-6 col-md-5 col-lg-4 d-flex flex-column justify-content-center align-items-center gap-3"
    style="max-width: 400px"
    [formGroup]="resetPasswordForm"
    (ngSubmit)="onSubmit()"
  >
    <div
      class="col-12 d-flex flex-column justify-content-center align-items-center gap-0"
    >
      <h1 class="fs-3 text-center">Enter your new password</h1>
    </div>

    <!-- Password Input -->
    <div class="position-relative col-12">
      <img
        style="top: 10px"
        height="34px"
        class="inputIcon"
        src="./key.svg"
        alt=""
      />

      <button
        (click)="passwordToggle()"
        style="right: 25px; top: 10px; background: none; border: none"
        class="position-absolute d-flex justify-content-center align-items-center"
        type="button"
      >
        <img height="34px" src="./eye.svg" />
      </button>

      <input
        placeholder="Password"
        class="formInput form-control"
        [ngClass]="{
          'is-invalid':
            resetPasswordForm.get('password')?.invalid &&
            resetPasswordForm.get('password')?.touched
        }"
        id="password"
        formControlName="password"
        [type]="isPass ? 'password' : 'text'"
      />
      <div class="invalid-feedback">
        <div *ngIf="resetPasswordForm.get('password')?.errors?.['required']">
          Password is required.
        </div>
        <div *ngIf="resetPasswordForm.get('password')?.errors?.['minlength']">
          Minimum length is 6.
        </div>
      </div>
    </div>

    <!-- Password Confirmation Input -->
    <div class="position-relative col-12">
      <img
        style="top: 10px"
        height="34px"
        class="inputIcon"
        src="./key.svg"
        alt=""
      />

      <button
        (click)="passwordToggle()"
        style="right: 25px; top: 10px; background: none; border: none"
        class="position-absolute d-flex justify-content-center align-items-center"
        type="button"
      >
        <img height="34px" src="./eye.svg" />
      </button>

      <input
        placeholder="Repeat Password"
        class="formInput form-control"
        [ngClass]="{
          'is-invalid':
            resetPasswordForm.get('passwordConfirmation')?.invalid &&
            resetPasswordForm.get('passwordConfirmation')?.touched
        }"
        id="passwordConfirmation"
        formControlName="passwordConfirmation"
        [type]="isPass ? 'password' : 'text'"
      />
      <div class="invalid-feedback">
        <div
          *ngIf="resetPasswordForm.errors?.['passwordMismatch'] && 
             resetPasswordForm.get('passwordConfirmation')?.touched"
        >
          Passwords do not match.
        </div>
        <div
          *ngIf="resetPasswordForm.get('passwordConfirmation')?.errors?.['required']"
        >
          Password is required.
        </div>
        <div
          *ngIf="resetPasswordForm.get('passwordConfirmation')?.errors?.['minlength']"
        >
          Minimum length is 6.
        </div>
      </div>
    </div>

    <!-- Submit Button -->
    <button
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
      class="formButton col-12 btn btn-primary"
      type="submit"
      [disabled]="resetPasswordForm.invalid || loading"
    >
      @if (loading) {

      <div class="spinner-border text-danger" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      }@else{ Change Password }
    </button>
    <div class="col-12 d-flex justify-content-end align-content-center">
      <a routerLink="/signIn">Back to Sign in Page</a>
    </div>
    <div class="col-12" style="color: #bf272d; text-align: left">
      {{ error }}
    </div>
  </form>
</div>

<!-- Modal -->
<div
  style="margin-top: 100px"
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div
        class="modal-body d-flex flex-column justify-content-center align-items-center gap-3"
      >
        <div
          class="col-12 d-flex flex-column justify-content-center align-items-center gap-2"
        >
          <h1 class="fs-3 text-center">Changed Successfully!</h1>
          <p class="subTitle col-10 text-center">
            Your password has been changed successfully. You can now sign in
            using your new password.
          </p>
        </div>

        <div class="col-3">
          <img width="100%" src="./done.svg" alt="" />
        </div>
      </div>
      <div class="modal-footer">
        <button
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
          class="formButton col-12 btn btn-primary"
          type="button"
          (click)="toSignIn()"
        >
          Sign In
        </button>
      </div>
    </div>
  </div>
</div>
