<div class="col-12 p-2">
  <!-- TagName -->
  <div class="d-flex justify-content-start align-items-center gap-1 mb-3">
    <div class="tag">.</div>
    <p class="tagName fs-5 fw-semibold">Notifications</p>
  </div>

  <!-- /////////////////////////////////////////////////////////////////// -->

  <div class="d-flex gap-3 mb-3">
    <a class="filter" routerLink="spesificUsers" routerLinkActive="actived"
      >specific Users</a
    >
    <a class="filter" routerLink="broadCasting" routerLinkActive="actived"
      >Broadcasting</a
    >
  </div>
  <!-- <button  class="btn specificUsers">specific Users</button>
<button class="btn Broadcasting">Broadcasting</button> -->
  <!-- //////////////////////////////////////////////////////////////////////// -->

  <router-outlet></router-outlet>
</div>
