.tag {
  width: 10px;
  height: 40px;
  color: #bf272d;
  background-color: #bf272d;
  border-radius: 20px 0px 20px 0px;
}

.notification-text {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 22px;
  color: #000;
}

.specificUsers,
.Broadcasting {
  width: 139px;
  height: 40px;
  border-radius: 20px;
  border: none;
  font-size: 15px;
  background-color: #e0e0e0;
  color: #5c6480;
}

.search-input,
.write-something {
  width: 678px;
  height: 50px;
  border-radius: 15px;
  font-size: 15px;
  font-family: sans-serif;
  color: #817878;
}

.search-input {
  padding-left: 40px;
  border: none;
  background-color: rgba(234, 234, 234, 0.8);
  outline: none;
}

.search-input::placeholder,
.write-something::placeholder {
  color: #817878;
}

.write-something {
  border: 1px solid #ababab;
  background-color: transparent;
}

.select-spesific-user {
  width: 678px;
  height: 60px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: sans-serif;
}

.remove {
  width: 30px;
  height: 30px;
  background-color: #bf272d;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.submit {
  width: 151px;
  height: 50px;
  border-radius: 15px;
  color: white;
  background-color: #2e2e2e;
}

.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #bf272d;
  padding: 5px 20px;
  border-radius: 20px;
  color: #787777;
  background-color: rgba(224, 224, 224, 0.6);
  cursor: pointer;
}

.actived {
  color: #bf272d;
  font-weight: 650;
  background-color: rgba(191, 39, 45, 0.3);
}