<div class="col-12 width: 500, padding: 15, position: 'relative', background: 'white', boxShadow: '0px 5px 10px rgba(46, 46, 46, 0.20)', overflow: 'hidden', justifyContent: 'flex-start', alignItems: 'center', gap: 20, display: 'inline-flex'">
  <div class="row mt-4 g-3">
    <div *ngFor="let track of tracks" class="col-md-6">
      <div class="card shadow-sm">
        <div class="card-body position-relative">
          <h5 
            class="card-title fw-bold text-dark" >
            
            {{ track.trackName }}
          </h5>
          <p class="startDate">
            {{ track.startDate }}
          </p>
          <p class=" numberOfStudent mb-1">
            <span>
              Number of students:
            </span>
            <span>
              {{ track.numberOfStudent }}
            </span>
          </p>
          <p class="taegetAchievers mb-1">
            <span>
              Target Achievers:
            </span>
            <span class="numberOfAchievers"
              >
              {{ track.numberOfAchievers }}
            </span>
          </p>
          <div 
            class="  percentage  fs-1 position-absolute" 
            [ngClass]="track.percentage >= 50 ? 'text-success' : 'text-danger'">
            {{ track.percentage }}%
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
