@if(!tracks) {
<div
  style="min-height: 200px"
  class="col-12 d-flex flex-column gap-2 justify-content-center align-items-center"
>
  <div class="spinner-border text-danger" role="status"></div>
  <p class="text-secondary">Loading</p>
</div>
} @else if(tracks.length == 0) {
<div
  style="min-height: 200px"
  class="col-12 d-flex flex-column gap-2 justify-content-center align-items-center"
>
  <p class="text-secondary">No Tracks Yet</p>
</div>
} @else {

<div class="col-12">
  <div class="row mt-4 gap-3 p-2">
    <div
      style="height: 170px; cursor: pointer"
      (click)="goToTrack(track._id, track.trackName)"
      *ngFor="let track of tracks"
      class="col-xl-5 flex-grow-1 flex-md-grow-0 card shadow-sm d-flex flex-column justify-content-between p-3 align-items-start "
    >
      <h5 class="fs-6 fw-semibold text-dark">
        {{ track.trackName }}
      </h5>
      <p class="startDate">
        {{ track.startDate }}
      </p>
      <p class="numberOfStudents mt-3">
        Number of students:
        <span>
          {{ track.numberOfStudent }}
        </span>
      </p>
      <p class="taegetAchievers mb-1">
        Target Achievers:
        <span>
          {{ track.numberOfAchievers }}
        </span>
      </p>
      <div
        class="percentage position-absolute"
        [ngClass]="track.percentage >= 50 ? 'text-success' : 'text-danger'"
      >
        {{ track.percentage }}%
      </div>
    </div>
  </div>
</div>

}
