<div
  class="col-12 d-flex flex-column justify-content-center align-items-center"
>
  <form
    class="col-10 col-sm-6 col-md-5 col-lg-4 d-flex flex-column justify-content-center align-items-center gap-3"
    style="max-width: 400px"
    [formGroup]="forgetPassword"
    (ngSubmit)="onSubmit()"
  >
    <div
      class="d-flex flex-column justify-content-center align-items-center gap-0"
    >
      <h1 class="fs-2">Forget Password</h1>
    </div>

    <!-- Email Input -->
    <div class="position-relative col-12">
      <img src="./email.svg" class="inputIcon" />
      <input
        placeholder="Email"
        class="formInput form-control"
        [ngClass]="{
          'is-invalid':
            forgetPassword.get('email')?.invalid &&
            forgetPassword.get('email')?.touched
        }"
        id="email"
        formControlName="email"
        type="email"
      />
      <div class="invalid-feedback">
        <div *ngIf="forgetPassword.get('email')?.errors?.['required']">
          Email is required.
        </div>
        <div *ngIf="forgetPassword.get('email')?.errors?.['email']">
          Invalid email format.
        </div>
      </div>
    </div>

    <p class="subTitle col-12">
      If you've forgotten your password, please enter the email address you
      registered with in ITI, You will receive a code to reset your password.
    </p>

    <!-- Submit Button -->
    <button
      class="formButton btn btn-primary col-12"
      type="submit"
      [disabled]="forgetPassword.invalid || loading"
    >
      @if(loading){
      <div class="spinner-border text-danger" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      }@else{Send Code}
    </button>
    <!-- Back to Sign in Page -->
    <div class="col-12 d-flex justify-content-end align-content-center">
      <a routerLink="/signIn">Back to Sign in Page</a>
    </div>
    <div style="font-size: 13px; color: #bf272d; text-align: left; width: 100%">
      {{ error }}
    </div>
  </form>
</div>
