<div
  style="
    position: relative;
    margin-top: 30px;
    height: 55px;
    width: 100%;
    max-width: 600px;
  "
>
  <i
    class="fas fa-search"
    style="
      position: absolute;
      top: 50%;
      left: 16px;
      transform: translateY(-50%);
      color: #b31919;
      font-size: 20px;
    "
  ></i>
  <input
    class="form-control search-input text-secondary"
    type="text"
    placeholder="looking for specific user"
    [formControl]="searchInput"
  />
</div>

<!-- Search Results -->
<div
  style="width: 100%; max-width: 600px"
  *ngIf="searchResults.length > 0"
  class="search-results mt-2"
>
  <div
    *ngFor="let user of searchResults"
    class="search-result-item p-2"
    (click)="selectUser(user)"
  >
    <div class="py-1" style="display: flex; align-items: center">
      <p class="fw-semibold">{{ user.fullName }}</p>
      <div
        class="d-none d-sm-block"
        style="
          width: 2px;
          height: 20px;
          background-color: #bf272d;
          margin: 0 12px;
          border-radius: 1px;
        "
      ></div>
      <span class="d-none d-sm-block" style="color: #999">{{
        user.trackName.split(" ")[0] + " " + user.trackName.split(" ")[1]
      }}</span>
    </div>
  </div>
</div>

<div
  *ngIf="isLoading"
  class="text-center mt-3"
  style="width: 100%; max-width: 600px"
>
  <div
    class="spinner-border text-danger"
    role="status"
    style="width: 1rem; height: 1rem"
  >
    <span class="visually-hidden">Loading please wait</span>
  </div>
  <span class="ms-2" style="color: #a7a5a5">Searching.</span>
</div>

<p class="mt-4" style="color: #a7a5a5; font-family: Poppins">
  Before sending any notifications to users, ensure that the message is free of
  spelling errors and <br />
  utilizes clear, professional language. Double-check for proper grammar, tone,
  and formatting.<br />
  Remember, notifications represent our platform, so they should be polished and
  easy to<br />
  understand to maintain our credibility and user trust.
</p>

<div
  *ngIf="selectedUsers.length === 0"
  class="mt-5"
  style="color: #bf272d; font-weight: 550"
>
  No users selected. Search and select users.
</div>

<br />
<div
  style="width: 100%; max-width: 600px"
  *ngFor="let user of selectedUsers; let i = index"
  class="select-spesific-user py-3"
>
  <div style="display: flex; align-items: center">
    <strong style="color: #000">{{ user.fullName }}</strong>
    <div
      class="d-none d-sm-block"
      style="
        width: 2px;
        height: 20px;
        background-color: #bf272d;
        margin: 0 12px;
        border-radius: 1px;
      "
    ></div>
    <span class="d-none d-sm-block" style="color: #999">{{
      user.trackName.split(" ")[0] + " " + user.trackName.split(" ")[1]
    }}</span>
  </div>
  <div class="remove" (click)="removeUser(i)">
    <i class="fas fa-times" style="color: white; font-size: 15px"></i>
  </div>
</div>

<div
  class="d-flex flex-column gap-2 mt-4"
  style="width: 100%; max-width: 600px"
>
  <input
    style="height: 55px"
    class="form-control write-something"
    type="text"
    placeholder="Notification Title"
    [formControl]="titleInput"
  />

  <input
    style="height: 55px"
    class="form-control write-something"
    type="text"
    placeholder="Notification Content"
    [formControl]="messageInput"
  />
</div>
<br />

<button
  class="btn submit"
  style="border-radius: 15px; width: 100%; max-width: 600px; height: 55px"
  [disabled]="
    !messageInput.value ||
    !titleInput.value ||
    selectedUsers.length === 0 ||
    isSubmitting
  "
  (click)="submitNotification()"
>
  <span
    *ngIf="isSubmitting"
    class="spinner-border spinner-border-sm me-2"
    role="status"
    aria-hidden="true"
  ></span>
  Submit
</button>
